
@{
    ViewData["Title"] = "Index";
}

@Html.Partial("PageTitle")

<!-- team-section -->
<section class="team-page-section">
    <div class="auto-container">
        <div class="sec-title text-center mb-60">
            <p>team MEmbers</p>
            <h2>What our clients say about our<br />awesome solutions</h2>
            <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="images/team/team-1.jpg" alt="">
                            <ul class="contact-box clearfix">
                                <li class="email">
                                    <a href="mailto:carlene@naxly.com">
                                        <i class="flaticon-gmail"></i>
                                        <span>elliot@naxly.com</span>
                                    </a>
                                </li>
                                <li class="social-links">
                                    <a href="about.html" class="share"><i class="flaticon-share-1"></i></a>
                                    <ul class="list clearfix">
                                        <li><a href="about.html"><i class="fab fa-skype"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="lower-content">
                            <h4><a href="about.html">Elliot Frankie</a></h4>
                            <span class="designation">Director</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="images/team/team-2.jpg" alt="">
                            <ul class="contact-box clearfix">
                                <li class="email">
                                    <a href="mailto:carlene@naxly.com">
                                        <i class="flaticon-gmail"></i>
                                        <span>carlene@naxly.com</span>
                                    </a>
                                </li>
                                <li class="social-links">
                                    <a href="about.html" class="share"><i class="flaticon-share-1"></i></a>
                                    <ul class="list clearfix">
                                        <li><a href="about.html"><i class="fab fa-skype"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="lower-content">
                            <h4><a href="about.html">Gertie Carlene</a></h4>
                            <span class="designation">Head of Data Science</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="images/team/team-3.jpg" alt="">
                            <ul class="contact-box clearfix">
                                <li class="email">
                                    <a href="mailto:carlene@naxly.com">
                                        <i class="flaticon-gmail"></i>
                                        <span>leone@naxly.com</span>
                                    </a>
                                </li>
                                <li class="social-links">
                                    <a href="about.html" class="share"><i class="flaticon-share-1"></i></a>
                                    <ul class="list clearfix">
                                        <li><a href="about.html"><i class="fab fa-skype"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="lower-content">
                            <h4><a href="about.html">Leone Felix</a></h4>
                            <span class="designation">Head of Marketing</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="images/team/team-4.jpg" alt="">
                            <ul class="contact-box clearfix">
                                <li class="email">
                                    <a href="mailto:carlene@naxly.com">
                                        <i class="flaticon-gmail"></i>
                                        <span>brenda@naxly.com</span>
                                    </a>
                                </li>
                                <li class="social-links">
                                    <a href="about.html" class="share"><i class="flaticon-share-1"></i></a>
                                    <ul class="list clearfix">
                                        <li><a href="about.html"><i class="fab fa-skype"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="lower-content">
                            <h4><a href="about.html">Brenda Genevieve</a></h4>
                            <span class="designation">Head of R&D</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="images/team/team-1.jpg" alt="">
                            <ul class="contact-box clearfix">
                                <li class="email">
                                    <a href="mailto:carlene@naxly.com">
                                        <i class="flaticon-gmail"></i>
                                        <span>elliot@naxly.com</span>
                                    </a>
                                </li>
                                <li class="social-links">
                                    <a href="about.html" class="share"><i class="flaticon-share-1"></i></a>
                                    <ul class="list clearfix">
                                        <li><a href="about.html"><i class="fab fa-skype"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="lower-content">
                            <h4><a href="about.html">Elliot Frankie</a></h4>
                            <span class="designation">Director</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="images/team/team-2.jpg" alt="">
                            <ul class="contact-box clearfix">
                                <li class="email">
                                    <a href="mailto:carlene@naxly.com">
                                        <i class="flaticon-gmail"></i>
                                        <span>carlene@naxly.com</span>
                                    </a>
                                </li>
                                <li class="social-links">
                                    <a href="about.html" class="share"><i class="flaticon-share-1"></i></a>
                                    <ul class="list clearfix">
                                        <li><a href="about.html"><i class="fab fa-skype"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="lower-content">
                            <h4><a href="about.html">Gertie Carlene</a></h4>
                            <span class="designation">Head of Data Science</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="images/team/team-3.jpg" alt="">
                            <ul class="contact-box clearfix">
                                <li class="email">
                                    <a href="mailto:carlene@naxly.com">
                                        <i class="flaticon-gmail"></i>
                                        <span>leone@naxly.com</span>
                                    </a>
                                </li>
                                <li class="social-links">
                                    <a href="about.html" class="share"><i class="flaticon-share-1"></i></a>
                                    <ul class="list clearfix">
                                        <li><a href="about.html"><i class="fab fa-skype"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="lower-content">
                            <h4><a href="about.html">Leone Felix</a></h4>
                            <span class="designation">Head of Marketing</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="images/team/team-4.jpg" alt="">
                            <ul class="contact-box clearfix">
                                <li class="email">
                                    <a href="mailto:carlene@naxly.com">
                                        <i class="flaticon-gmail"></i>
                                        <span>brenda@naxly.com</span>
                                    </a>
                                </li>
                                <li class="social-links">
                                    <a href="about.html" class="share"><i class="flaticon-share-1"></i></a>
                                    <ul class="list clearfix">
                                        <li><a href="about.html"><i class="fab fa-skype"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="lower-content">
                            <h4><a href="about.html">Brenda Genevieve</a></h4>
                            <span class="designation">Head of R&D</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team-section end -->