@model NaxlyAI.Models.SocialMedium
@{
    ViewData["Title"] = ViewData["PageDesc"];
}

<h3>@ViewData["PageDesc"]</h3>
<form method="POST">
    <div class="form-group">
        <label asp-for="Name">Social Media Name</label>
        <input asp-for="Name" class="form-control form-control-lg" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Icon">Social Media Icon class</label>
        <input asp-for="Icon" class="form-control form-control-lg" />
        <span asp-validation-for="Icon" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mb-2">@ViewData["Button"]</button>
</form>