
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="info-inner">
    <div class="row clearfix">
        <div class="col-lg-4 col-md-6 col-sm-12 info-column">
            <div class="info-box">
                <div class="hidden-icon"><i class="flaticon-pin"></i></div>
                <div class="box">
                    <div class="icon-box"><i class="flaticon-pin"></i></div>
                    <h4>Location</h4>
                    <span>Visit to explore the world</span>
                </div>
                <div class="text">
                    <p>124, Queens walk 2nd cross<br />newyork 5241.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 info-column">
            <div class="info-box">
                <div class="hidden-icon"><i class="flaticon-music"></i></div>
                <div class="box">
                    <div class="icon-box"><i class="flaticon-music"></i></div>
                    <h4>Make a Call</h4>
                    <span>Let’s talk with our experts</span>
                </div>
                <div class="text">
                    <p><a href="tel:4455567890">+44 555 67 890</a></p>
                    <p>Mon - Fri: 09.00 to 18.00</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 info-column">
            <div class="info-box">
                <div class="hidden-icon"><i class="flaticon-gmail"></i></div>
                <div class="box">
                    <div class="icon-box"><i class="flaticon-gmail"></i></div>
                    <h4>Send a Mail</h4>
                    <span>Dont’s hesitate to mail</span>
                </div>
                <div class="text">
                    <p><a href="mailto:career@example.com">career@example.com</a></p>
                    <p><a href="mailto:info@example.com">info@example.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>