
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section class="page-title text-center style-two">
    <div class="pattern-layer" style="background-color: #040535;"></div>
    <div class="auto-container">
        <div class="content-box">
            <h1>Get In Touch</h1>
            <ul class="bread-crumb clearfix">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><span>\\</span></li>
                <li>@ViewData["PageName"]</li>
            </ul>
        </div>
    </div>
</section>
