
@{
    ViewData["Title"] = "Projects";
    ViewData["PageName"] = "Projects";
}

@Html.Partial("PageTitle")

<!-- project-two-column -->
<section class="project-two-column project-page">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-12 case-block">
                <div class="case-block-two wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="images/gallery/gallery-9.jpg" alt="">
                            <div class="client-box">
                                <span>Neuro Jump</span>
                                <div class="client-logo"><img src="images/icons/icon-1.png" alt=""></div>
                            </div>
                            <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                            <div class="overlay-layer"></div>
                        </figure>
                        <div class="lower-content">
                            <div class="box">
                                <div class="icon-box"><i class="flaticon-vision"></i></div>
                                <p>Banking & Finance</p>
                                <h3><a href="project-details.html">Consulting on Invoice Data Capture</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 case-block">
                <div class="case-block-two wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="images/gallery/gallery-10.jpg" alt="">
                            <div class="client-box">
                                <span>Neuro Jump</span>
                                <div class="client-logo"><img src="images/icons/icon-2.png" alt=""></div>
                            </div>
                            <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                            <div class="overlay-layer"></div>
                        </figure>
                        <div class="lower-content">
                            <div class="box">
                                <div class="icon-box"><i class="flaticon-vision"></i></div>
                                <p>Entertainment</p>
                                <h3><a href="project-details.html">Automate Feedback Analysis</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 case-block">
                <div class="case-block-two wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="images/gallery/gallery-11.jpg" alt="">
                            <div class="client-box">
                                <span>Neuro Jump</span>
                                <div class="client-logo"><img src="images/icons/icon-3.png" alt=""></div>
                            </div>
                            <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                            <div class="overlay-layer"></div>
                        </figure>
                        <div class="lower-content">
                            <div class="box">
                                <div class="icon-box"><i class="flaticon-vision"></i></div>
                                <p>Banking & Finance</p>
                                <h3><a href="project-details.html">Big Data Processing Implementation</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 case-block">
                <div class="case-block-two wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="images/gallery/gallery-12.jpg" alt="">
                            <div class="client-box">
                                <span>Neuro Jump</span>
                                <div class="client-logo"><img src="images/icons/icon-8.png" alt=""></div>
                            </div>
                            <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                            <div class="overlay-layer"></div>
                        </figure>
                        <div class="lower-content">
                            <div class="box">
                                <div class="icon-box"><i class="flaticon-vision"></i></div>
                                <p>Healthcare</p>
                                <h3><a href="project-details.html">BI Implementation for Baby Care App</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 case-block">
                <div class="case-block-two wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="images/gallery/gallery-13.jpg" alt="">
                            <div class="client-box">
                                <span>Neuro Jump</span>
                                <div class="client-logo"><img src="images/icons/icon-1.png" alt=""></div>
                            </div>
                            <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                            <div class="overlay-layer"></div>
                        </figure>
                        <div class="lower-content">
                            <div class="box">
                                <div class="icon-box"><i class="flaticon-vision"></i></div>
                                <p>Entertainment</p>
                                <h3><a href="project-details.html">Automate Feedback Analysis</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 case-block">
                <div class="case-block-two wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="images/gallery/gallery-14.jpg" alt="">
                            <div class="client-box">
                                <span>Neuro Jump</span>
                                <div class="client-logo"><img src="images/icons/icon-2.png" alt=""></div>
                            </div>
                            <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                            <div class="overlay-layer"></div>
                        </figure>
                        <div class="lower-content">
                            <div class="box">
                                <div class="icon-box"><i class="flaticon-vision"></i></div>
                                <p>Banking & Finance</p>
                                <h3><a href="project-details.html">Consulting on Invoice Data Capture</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 case-block">
                <div class="case-block-two wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="images/gallery/gallery-15.jpg" alt="">
                            <div class="client-box">
                                <span>Neuro Jump</span>
                                <div class="client-logo"><img src="images/icons/icon-3.png" alt=""></div>
                            </div>
                            <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                            <div class="overlay-layer"></div>
                        </figure>
                        <div class="lower-content">
                            <div class="box">
                                <div class="icon-box"><i class="flaticon-vision"></i></div>
                                <p>Healthcare</p>
                                <h3><a href="project-details.html">BI Implementation for Baby Care App</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 case-block">
                <div class="case-block-two wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="images/gallery/gallery-16.jpg" alt="">
                            <div class="client-box">
                                <span>Neuro Jump</span>
                                <div class="client-logo"><img src="images/icons/icon-8.png" alt=""></div>
                            </div>
                            <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                            <div class="overlay-layer"></div>
                        </figure>
                        <div class="lower-content">
                            <div class="box">
                                <div class="icon-box"><i class="flaticon-vision"></i></div>
                                <p>Banking & Finance</p>
                                <h3><a href="project-details.html">Big Data Processing Implementation</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- project-two-column end -->