
@{
    ViewData["Title"] = "About Company";
    ViewData["PageName"] = "About";
}

@Html.Partial("PageTitle")

<!-- about-style-six -->
<section class="about-style-six">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div id="image_block_05">
                    <div class="image-box">
                        <figure class="image image-1"><img src="images/resource/about-3.jpg" alt=""></figure>
                        <figure class="image image-2"><img src="images/resource/about-4.jpg" alt=""></figure>
                        <figure class="image image-3"><img src="images/resource/about-5.jpg" alt=""></figure>
                        <div class="elipse"></div>
                        <div class="pattern-layer" style="background-image: url(images/shape/shape-46.png);"></div>
                        <div class="text">
                            <span>09</span>
                            <h5>Years<br />of Experience</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_11">
                    <div class="content-box">
                        <div class="sec-title text-left">
                            <p>About Company</p>
                            <h2>Mission is to bring the power of AI to every business</h2>
                            <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
                        </div>
                        <div class="text">
                            <p>How all this mistaken idea of denouncing pleasure and praising born and we will give you a complete.</p>
                            <p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it but right to find fault with a man who chooses enjoy.</p>
                        </div>
                        <div class="video-btn">
                            <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption=""><i class="flaticon-play-button"></i></a>
                            <h5>Video Intro<br />About Our Company</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-style-six end -->
<!-- history-section -->
<section class="history-section">
    <div class="pattern-layer" style="background-image: url(images/shape/shape-47.png);"></div>
    <div class="arrow-box" style="background-image: url(images/icons/arrow-3.png);"></div>
    <figure class="image-layer js-tilt"><img src="images/resource/illastration-8.png" alt=""></figure>
    <div class="auto-container">
        <div class="sec-title text-left">
            <p>Our History</p>
            <h2>History begins in 2010 with the foundation</h2>
            <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
        </div>
        <div class="inner-box clearfix">
            <div class="single-item">
                <div class="inner wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="content-box">
                        <h4><a href="about.html">Founded</a></h4>
                        <p>Take trivial example which idea of ever undertakes.</p>
                    </div>
                    <div class="year"><span>2010</span></div>
                </div>
            </div>
            <div class="single-item">
                <div class="inner wow slideInDown" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="year"><span>2012</span></div>
                    <div class="content-box">
                        <h4><a href="about.html">Fresh Ideas</a></h4>
                        <p>Best every pleasure is welcomed every pain avoided.</p>
                    </div>
                </div>
            </div>
            <div class="single-item">
                <div class="inner wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="content-box">
                        <h4><a href="about.html">Service Award</a></h4>
                        <p>Have to repudiated annoyances accepted the wise.</p>
                    </div>
                    <div class="year"><span>2016</span></div>
                </div>
            </div>
            <div class="single-item">
                <div class="inner wow slideInDown" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="year"><span>2019</span></div>
                    <div class="content-box">
                        <h4><a href="about.html">Milestone</a></h4>
                        <p>Take trivial example which idea of ever undertakes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- history-section end -->
<!-- chooseus-style-four -->
<section class="chooseus-style-four">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box">
                    <figure class="image image-1 wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="images/resource/choose-1.jpg" alt=""></figure>
                    <figure class="image image-2  wow slideInLeft" data-wow-delay="300ms" data-wow-duration="1500ms"><a href="images/resource/choose-2.jpg" class="lightbox-image"><img src="images/resource/choose-2.jpg" alt=""></a></figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_12">
                    <div class="content-box">
                        <div class="sec-title text-left">
                            <p>Why Choose Us</p>
                            <h2>Reason for people choose us</h2>
                            <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
                        </div>
                        <div class="inner-box">
                            <div class="single-item">
                                <h4>Global Experience</h4>
                                <div class="box">
                                    <div class="icon-box"><i class="flaticon-global"></i></div>
                                    <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because circumstances.</p>
                                </div>
                            </div>
                            <div class="single-item">
                                <h4>Value for Results</h4>
                                <div class="box">
                                    <div class="icon-box"><i class="flaticon-analysis"></i></div>
                                    <p>Except to obtain some advantage from it? But who has any right to find fault with a consequences. </p>
                                </div>
                            </div>
                            <div class="single-item">
                                <h4>High-Quality Results</h4>
                                <div class="box">
                                    <div class="icon-box"><i class="flaticon-medal"></i></div>
                                    <p>This mistakens idea of denouncing pleasure and praising pain was born and will give you a complete system.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- chooseus-style-four end -->
<!-- testimonial-style-two -->
<section class="testimonial-style-two alternate-2">
    <div class="lower-content">
        <div class="auto-container">
            <div class="testimonial-carousel-2 owl-carousel owl-theme owl-dots-none owl-nav-none">
                <div class="testimonial-content">
                    <div class="inner-box">
                        <figure class="image-box"><img src="images/resource/testimonial-1.jpg" alt=""></figure>
                        <div class="content-box">
                            <div class="icon-box" style="background-image: url(images/icons/icon-5.png);"></div>
                            <div class="text">
                                <p>As a growing company, we found in Naxly expertise in data science invaluble In almost two years of cooperation, they’ve helped us.</p>
                            </div>
                            <div class="author-info">
                                <h4>Dedrew Kowzel</h4>
                                <span class="designation">CEO & Founder - Soft Solution</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-content">
                    <div class="inner-box">
                        <figure class="image-box"><img src="images/resource/testimonial-1.jpg" alt=""></figure>
                        <div class="content-box">
                            <div class="icon-box" style="background-image: url(images/icons/icon-5.png);"></div>
                            <div class="text">
                                <p>As a growing company, we found in Naxly expertise in data science invaluble In almost two years of cooperation, they’ve helped us.</p>
                            </div>
                            <div class="author-info">
                                <h4>Donal Archar</h4>
                                <span class="designation">CEO & Founder - Soft Solution</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-content">
                    <div class="inner-box">
                        <figure class="image-box"><img src="images/resource/testimonial-1.jpg" alt=""></figure>
                        <div class="content-box">
                            <div class="icon-box" style="background-image: url(images/icons/icon-5.png);"></div>
                            <div class="text">
                                <p>As a growing company, we found in Naxly expertise in data science invaluble In almost two years of cooperation, they’ve helped us.</p>
                            </div>
                            <div class="author-info">
                                <h4>Jams Shan</h4>
                                <span class="designation">CEO & Founder - Soft Solution</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial-style-two end -->
<!-- team-section -->
<section class="team-section alternate-2">
    <div class="auto-container">
        <div class="sec-title text-center mb-60">
            <p>team MEmbers</p>
            <h2>What our clients say about our<br />awesome solutions</h2>
            <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="images/team/team-1.jpg" alt="">
                            <ul class="contact-box clearfix">
                                <li class="email">
                                    <a href="mailto:carlene@naxly.com">
                                        <i class="flaticon-gmail"></i>
                                        <span>elliot@naxly.com</span>
                                    </a>
                                </li>
                                <li class="social-links">
                                    <a href="about.html" class="share"><i class="flaticon-share-1"></i></a>
                                    <ul class="list clearfix">
                                        <li><a href="about.html"><i class="fab fa-skype"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="lower-content">
                            <h4><a href="about.html">Elliot Frankie</a></h4>
                            <span class="designation">Director</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="images/team/team-2.jpg" alt="">
                            <ul class="contact-box clearfix">
                                <li class="email">
                                    <a href="mailto:carlene@naxly.com">
                                        <i class="flaticon-gmail"></i>
                                        <span>carlene@naxly.com</span>
                                    </a>
                                </li>
                                <li class="social-links">
                                    <a href="about.html" class="share"><i class="flaticon-share-1"></i></a>
                                    <ul class="list clearfix">
                                        <li><a href="about.html"><i class="fab fa-skype"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="lower-content">
                            <h4><a href="about.html">Gertie Carlene</a></h4>
                            <span class="designation">Head of Data Science</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="images/team/team-3.jpg" alt="">
                            <ul class="contact-box clearfix">
                                <li class="email">
                                    <a href="mailto:carlene@naxly.com">
                                        <i class="flaticon-gmail"></i>
                                        <span>leone@naxly.com</span>
                                    </a>
                                </li>
                                <li class="social-links">
                                    <a href="about.html" class="share"><i class="flaticon-share-1"></i></a>
                                    <ul class="list clearfix">
                                        <li><a href="about.html"><i class="fab fa-skype"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="lower-content">
                            <h4><a href="about.html">Leone Felix</a></h4>
                            <span class="designation">Head of Marketing</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="images/team/team-4.jpg" alt="">
                            <ul class="contact-box clearfix">
                                <li class="email">
                                    <a href="mailto:carlene@naxly.com">
                                        <i class="flaticon-gmail"></i>
                                        <span>brenda@naxly.com</span>
                                    </a>
                                </li>
                                <li class="social-links">
                                    <a href="about.html" class="share"><i class="flaticon-share-1"></i></a>
                                    <ul class="list clearfix">
                                        <li><a href="about.html"><i class="fab fa-skype"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="lower-content">
                            <h4><a href="about.html">Brenda Genevieve</a></h4>
                            <span class="designation">Head of R&D</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="more-btn"><a href="team.html" class="btn-style-four">Meet All Members<span>+</span></a></div>
    </div>
</section>
<!-- team-section end -->