
@{
    ViewData["Title"] = "Service_Details";
}

@Html.Partial("PageTitle")

<!-- service-details -->
<section class="service-details">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="service-details-content">
                    <div class="inner-box">
                        <div class="two-column">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 left-column">
                                    <div class="title-box">
                                        <h2>Delivering the insights you to help business growth</h2>
                                        <a href="service-details.html" class="btn-style-four">Start Your Project<span>+</span></a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 right-column">
                                    <div class="text">
                                        <p>To take a trivial example, which of us ever under- takes laborious physical exercise, except to obtain some advantage from it but who has any right find fault with a man who chooses to enjoy a get pleasure that has annoying.</p>
                                        <p>Undertakes laborious physical exercise, except to obtain some advantage from it but who has any find fault with a man who chooses.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <figure class="single-image"><img src="~/images/service/service-details-1.jpg" alt=""></figure>
                        <div class="carousel-box">
                            <div class="top-box">
                                <h3>Services we provide</h3>
                                <p>Except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences.</p>
                            </div>
                            <div class="carousel-inner">
                                <div class="two-column-carousel-2 owl-carousel owl-theme owl-nav-none">
                                    <div class="single-item">
                                        <div class="box">
                                            <div class="icon-box"><i class="flaticon-analysis"></i></div>
                                            <span>Service</span>
                                            <h4>Operational Anaytics</h4>
                                        </div>
                                        <div class="inner">
                                            <p>Explain to you how all this mistaken idea of denouncing pleasure.</p>
                                            <a href="service-details.html" class="btn-style-four">More Details<span>+</span></a>
                                        </div>
                                    </div>
                                    <div class="single-item">
                                        <div class="box">
                                            <div class="icon-box"><i class="flaticon-google-analytics"></i></div>
                                            <span>Service</span>
                                            <h4>Stream Analytics</h4>
                                        </div>
                                        <div class="inner">
                                            <p>Take a trivials example, which of us every undertakes some advantages.</p>
                                            <a href="service-details.html" class="btn-style-four">More Details<span>+</span></a>
                                        </div>
                                    </div>
                                    <div class="single-item">
                                        <div class="box">
                                            <div class="icon-box"><i class="flaticon-analysis"></i></div>
                                            <span>Service</span>
                                            <h4>Operational Anaytics</h4>
                                        </div>
                                        <div class="inner">
                                            <p>Explain to you how all this mistaken idea of denouncing pleasure.</p>
                                            <a href="service-details.html" class="btn-style-four">More Details<span>+</span></a>
                                        </div>
                                    </div>
                                    <div class="single-item">
                                        <div class="box">
                                            <div class="icon-box"><i class="flaticon-google-analytics"></i></div>
                                            <span>Service</span>
                                            <h4>Stream Analytics</h4>
                                        </div>
                                        <div class="inner">
                                            <p>Take a trivials example, which of us every undertakes some advantages.</p>
                                            <a href="service-details.html" class="btn-style-four">More Details<span>+</span></a>
                                        </div>
                                    </div>
                                    <div class="single-item">
                                        <div class="box">
                                            <div class="icon-box"><i class="flaticon-analysis"></i></div>
                                            <span>Service</span>
                                            <h4>Operational Anaytics</h4>
                                        </div>
                                        <div class="inner">
                                            <p>Explain to you how all this mistaken idea of denouncing pleasure.</p>
                                            <a href="service-details.html" class="btn-style-four">More Details<span>+</span></a>
                                        </div>
                                    </div>
                                    <div class="single-item">
                                        <div class="box">
                                            <div class="icon-box"><i class="flaticon-google-analytics"></i></div>
                                            <span>Service</span>
                                            <h4>Stream Analytics</h4>
                                        </div>
                                        <div class="inner">
                                            <p>Take a trivials example, which of us every undertakes some advantages.</p>
                                            <a href="service-details.html" class="btn-style-four">More Details<span>+</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="technology-box">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                                    <div class="content-box">
                                        <h3>Technologies that we use</h3>
                                        <p>We denounce with righteos indignation and dislikes men who are so beguiled demoralized cof pleasure of the moment.</p>
                                        <ul class="list-item clearfix">
                                            <li><span class="dote"></span>Hadoop and other Big data platforms</li>
                                            <li><span class="dote"></span>Licensed OCR tool</li>
                                            <li><span class="dote"></span>Luigi workflow manager</li>
                                            <li><span class="dote"></span>Distributed setup on Cloud for speed</li>
                                            <li><span class="dote"></span>Django framework</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 icon-column">
                                    <div class="icon-box">
                                        <div class="icon icon-1">
                                            <i class="flaticon-python"></i>
                                            <h4>Python</h4>
                                        </div>
                                        <div class="icon icon-2">
                                            <i class="flaticon-algorithm"></i>
                                            <h4>Algorithm</h4>
                                        </div>
                                        <div class="icon icon-3">
                                            <i class="flaticon-network"></i>
                                            <h4>Big Data</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <figure class="single-image"><a href="~/images/service/service-details-2.jpg" class="lightbox-image"><img src="~/images/service/service-details-2.jpg" alt=""></a></figure>
                        <div class="application-box">
                            <h3>Application areas</h3>
                            <p>We denounce with righteos indignation and dislikes men who are so beguiled demoralized cof pleasure of the moment.</p>
                            <div class="inner clearfix">
                                <div class="single-item">
                                    <div class="box">
                                        <i class="flaticon-product"></i>
                                        <h4>Trasportation</h4>
                                    </div>
                                </div>
                                <div class="single-item">
                                    <div class="box">
                                        <i class="flaticon-travel"></i>
                                        <h4>Travel</h4>
                                    </div>
                                </div>
                                <div class="single-item">
                                    <div class="box">
                                        <i class="flaticon-bank"></i>
                                        <h4>Finance</h4>
                                    </div>
                                </div>
                                <div class="single-item">
                                    <div class="box">
                                        <i class="flaticon-billboard"></i>
                                        <h4>Marketing</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="recent-case">
                            <h3>Recent case studies</h3>
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 case-block">
                                    <div class="case-block-two">
                                        <div class="inner-box">
                                            <figure class="image-box">
                                                <img src="~/images/gallery/gallery-1.jpg" alt="">
                                                <div class="client-box">
                                                    <span>Neuro Jump</span>
                                                    <div class="client-logo"><img src="~/images/icons/icon-1.png" alt=""></div>
                                                </div>
                                                <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                                                <div class="overlay-layer"></div>
                                            </figure>
                                            <div class="lower-content">
                                                <div class="box">
                                                    <div class="icon-box"><i class="flaticon-vision"></i></div>
                                                    <p>Banking & Finance</p>
                                                    <h4><a href="project-details.html">Invoice data capture</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 case-block">
                                    <div class="case-block-two">
                                        <div class="inner-box">
                                            <figure class="image-box">
                                                <img src="~/images/gallery/gallery-2.jpg" alt="">
                                                <div class="client-box">
                                                    <span>Neuro Jump</span>
                                                    <div class="client-logo"><img src="~/images/icons/icon-2.png" alt=""></div>
                                                </div>
                                                <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                                                <div class="overlay-layer"></div>
                                            </figure>
                                            <div class="lower-content">
                                                <div class="box">
                                                    <div class="icon-box"><i class="flaticon-vision"></i></div>
                                                    <p>Entertainment</p>
                                                    <h4><a href="project-details.html">Automate feedback analysis</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="service-sidebar">
                    <ul class="sidebar-categories clearfix">
                        <li><a href="service-details.html"><h5>Data Science</h5><i class="flaticon-arrow"></i></a></li>
                        <li><a href="service-details.html" class="active"><h5>AI & ML Solutions</h5><i class="flaticon-arrow"></i></a></li>
                        <li><a href="service-details.html"><h5>BI Implementation</h5><i class="flaticon-arrow"></i></a></li>
                        <li><a href="service-details.html"><h5>Data Warehousing</h5><i class="flaticon-arrow"></i></a></li>
                        <li><a href="service-details.html"><h5>Data Visualization</h5><i class="flaticon-arrow"></i></a></li>
                        <li><a href="service-details.html"><h5>Predictive Analytics</h5><i class="flaticon-arrow"></i></a></li>
                        <li><a href="service-details.html"><h5>Data Migration</h5><i class="flaticon-arrow"></i></a></li>
                    </ul>
                    <div class="sidebar-file">
                        <ul class="download-option clearfix">
                            <li>
                                <div class="icon-box"><a href="service-details.html"><i class="flaticon-download"></i></a></div>
                                <div class="box">
                                    <figure class="image"><img src="~/images/icons/icon-6.png" alt=""></figure>
                                    <h5>Research Report.pdf</h5>
                                    <span>65 KB</span>
                                </div>
                            </li>
                            <li>
                                <div class="icon-box"><a href="service-details.html"><i class="flaticon-download"></i></a></div>
                                <div class="box">
                                    <figure class="image"><img src="~/images/icons/icon-7.png" alt=""></figure>
                                    <h5>Service Details.txt</h5>
                                    <span>48 KB</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-award">
                        <h3>Award Winning Service</h3>
                        <figure class="award-image"><img src="~/images/resource/award-1.png" alt=""></figure>
                        <p>To take a trivial example, which idea of ever undertakes.</p>
                    </div>
                    <div class="sidebar-testimonial">
                        <div class="testimonial-carousel-5 owl-carousel owl-theme owl-nav-none owl-dots-none">
                            <div class="content-box">
                                <div class="upper-box">
                                    <figure class="logo-image"><img src="~/images/resource/testimonial-logo-1.png" alt=""></figure>
                                    <div class="rating-box clearfix">
                                        <ul class="rating clearfix">
                                            <li><i class="flaticon-stars"></i></li>
                                            <li><i class="flaticon-stars"></i></li>
                                            <li><i class="flaticon-stars"></i></li>
                                            <li><i class="flaticon-stars"></i></li>
                                            <li><i class="flaticon-stars"></i></li>
                                        </ul>
                                        <span>5 out of 5</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>As a growing company, we found in Naxly’ expertise in data science invaluable. In almost two years of cooper- ation, they’ve helped us.</p>
                                </div>
                                <div class="author-info">
                                    <figure class="author-image"><img src="~/images/resource/testimonial-8.png" alt=""></figure>
                                    <h4>Zedrew Kowzel</h4>
                                    <span class="designation">CEO & Founder</span>
                                </div>
                            </div>
                            <div class="content-box">
                                <div class="upper-box">
                                    <figure class="logo-image"><img src="~/images/resource/testimonial-logo-1.png" alt=""></figure>
                                    <div class="rating-box">
                                        <ul class="rating clearfix">
                                            <li><i class="flaticon-stars"></i></li>
                                            <li><i class="flaticon-stars"></i></li>
                                            <li><i class="flaticon-stars"></i></li>
                                            <li><i class="flaticon-stars"></i></li>
                                            <li><i class="flaticon-stars"></i></li>
                                        </ul>
                                        <span>5 out of 5</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>As a growing company, we found in Naxly’ expertise in data science invaluable. In almost two years of cooper- ation, they’ve helped us.</p>
                                </div>
                                <div class="author-info">
                                    <figure class="author-image"><img src="~/images/resource/testimonial-8.png" alt=""></figure>
                                    <h4>Zedrew Kowzel</h4>
                                    <span class="designation">CEO & Founder</span>
                                </div>
                            </div>
                            <div class="content-box">
                                <div class="upper-box">
                                    <figure class="logo-image"><img src="~/images/resource/testimonial-logo-1.png" alt=""></figure>
                                    <div class="rating-box">
                                        <ul class="rating clearfix">
                                            <li><i class="flaticon-stars"></i></li>
                                            <li><i class="flaticon-stars"></i></li>
                                            <li><i class="flaticon-stars"></i></li>
                                            <li><i class="flaticon-stars"></i></li>
                                            <li><i class="flaticon-stars"></i></li>
                                        </ul>
                                        <span>5 out of 5</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>As a growing company, we found in Naxly’ expertise in data science invaluable. In almost two years of cooper- ation, they’ve helped us.</p>
                                </div>
                                <div class="author-info">
                                    <figure class="author-image"><img src="~/images/resource/testimonial-8.png" alt=""></figure>
                                    <h4>Zedrew Kowzel</h4>
                                    <span class="designation">CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->
<!-- contact-section -->
<section class="contact-section alternate-3">
    <div class="pattern-layer" style="background-image: url(~/images/shape/shape-48.png);"></div>
    <div class="auto-container">
        <div class="top-inner text-center mb-50">
            <div class="sec-title text-center">
                <p>Contact Us</p>
                <h2>We’d love to hear from you anytime</h2>
                <div class="decor" style="background-image: url(~/images/icons/decor-1.png);"></div>
            </div>
            <div class="text">
                <p>Always holds in these matters to this principle of selection he rejects pleasures to secure other greater<br />pleasures, or else he endures pains to avoid</p>
            </div>
        </div>
        @Html.Partial("ContactSection")
    </div>
</section>
<!-- contact-section end -->
