@{
    ViewData["Title"] = "Home Page";
}
@{
    ViewData["Title"] = "Home Page";
}

<!-- banner-section -->
<section class="banner-style-two">
    <div class="pattern-layer" style="background-image: url(images/shape/shape-10.png);"></div>
    <div class="large-container">
        <div class="row clearfix">
            <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                <div class="content-box">
                    <h1>Best Artificial Intelligence Lab</h1>
                    <p>Naxly bring the power of data science and artificial intelligence to every business.</p>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                <div class="image-box">
                    <figure class="image image-1"><img src="images/banner/banner-2-1.png" alt=""></figure>
                    <figure class="image image-2 rotate-me"><img src="images/icons/gear-4.png" alt=""></figure>
                    <figure class="image image-3 rotate-me"><img src="images/icons/gear-5.png" alt=""></figure>
                    <figure class="image image-4 rotate-me"><img src="images/icons/gear-5.png" alt=""></figure>
                    <figure class="image image-5 rotate-me"><img src="images/icons/gear-6.png" alt=""></figure>
                    <div class="anim-icon">
                        <span class="icon icon-1"></span>
                        <span class="icon icon-2"></span>
                        <span class="icon icon-3"></span>
                        <span class="icon icon-4"></span>
                        <span class="icon icon-5"></span>
                        <span class="icon icon-6"></span>
                        <span class="icon icon-7"></span>
                        <span class="icon icon-8"></span>
                        <span class="icon icon-9"></span>
                        <span class="icon icon-10"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->


<div class="subscribe-us">
    <div class="large-container">
        <div class="subscribe-inner">
            <form action="index-2.html" method="post">
                <div class="form-group">
                    <input type="email" name="email" placeholder="Enter Email Address..." required="">
                    <button type="submit"><i class="flaticon-next"></i>Subscribe Us</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- about-style-two -->
<section class="about-style-two">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                <div id="image_block_01">
                    <div class="image-box wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="pattern-layer" style="background-image: url(images/shape/shape-12.png);"></div>
                        <figure class="image js-tilt"><img src="images/resource/about-1.png" alt=""></figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                <div id="content_block_03">
                    <div class="content-box">
                        <div class="sec-title style-two text-left">
                            <p>About Company</p>
                            <h2>Mission is to bring the power of AI to every business</h2>
                            <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
                        </div>
                        <div class="text">
                            <p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it but right to find fault with a man who chooses enjoy.</p>
                        </div>
                        <div class="lower-box">
                            <div class="icon-box">
                                <div class="bg-box" style="background-image: url(images/icons/icon-bg-3.png);"></div>
                                <i class="flaticon-brain-2"></i>
                            </div>
                            <h5>Impressive Works Since 2010</h5>
                            <a href="about.html"><i class="flaticon-next"></i>More About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-style-two end -->
<!-- service-style-two -->
<section class="service-style-two">
    <div class="pattern-layer" style="background-image: url(images/shape/shape-13.png);"></div>
    <figure class="image-layer"><img src="images/resource/illastration-2.png" alt=""></figure>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-xl-9 col-lg-12 col-md-12 inner-column">
                <div class="inner-content">
                    <div class="sec-title text-center light">
                        <p>Our Services</p>
                        <h2>Services we offer for you</h2>
                        <div class="decor" style="background-image: url(images/icons/decor-4.png);"></div>
                    </div>
                    <div class="service-carousel owl-carousel owl-theme owl-dots-none nav-style-one">
                        <div class="service-block-two">
                            <div class="inner-box">
                                <div class="text-layer"><h2>Mac</h2></div>
                                <div class="icon-box"><i class="flaticon-brain-3"></i></div>
                                <h4><a href="service-details.html">Machine Learning</a></h4>
                                <p>Simple & easy distinguish in when our power.</p>
                                <div class="link"><a href="service-details.html"><i class="flaticon-next"></i>Read More</a></div>
                            </div>
                        </div>
                        <div class="service-block-two">
                            <div class="inner-box">
                                <div class="text-layer"><h2>Deef</h2></div>
                                <div class="icon-box"><i class="flaticon-model"></i></div>
                                <h4><a href="service-details.html">Deep Learning</a></h4>
                                <p>Therefore always hold these matters to secure.</p>
                                <div class="link"><a href="service-details.html"><i class="flaticon-next"></i>Read More</a></div>
                            </div>
                        </div>
                        <div class="service-block-two">
                            <div class="inner-box">
                                <div class="text-layer"><h2>Rre</h2></div>
                                <div class="icon-box"><i class="flaticon-cog"></i></div>
                                <h4><a href="service-details.html">Predicitive Analysis</a></h4>
                                <p>Trouble that bound ensue to equaly blame belongs.</p>
                                <div class="link"><a href="service-details.html"><i class="flaticon-next"></i>Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-style-two end -->
<!-- case-style-two -->
<section class="case-style-two">
    <div class="auto-container">
        <div class="top-inner clearfix">
            <div class="sec-title style-two text-left pull-left">
                <p>Case Studies</p>
                <h2>Latest from our projects</h2>
                <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
            </div>
            <div class="btn-box pull-right">
                <a href="project-details.html" class="theme-btn style-five"><i class="flaticon-next"></i>All Projects</a>
            </div>
        </div>
        <div class="three-item-carousel owl-carousel owl-theme owl-nav-none">
            <div class="case-block-two">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/gallery-1.jpg" alt="">
                        <div class="client-box">
                            <span>Neuro Jump</span>
                            <div class="client-logo"><img src="images/icons/icon-1.png" alt=""></div>
                        </div>
                        <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                        <div class="overlay-layer"></div>
                    </figure>
                    <div class="lower-content">
                        <div class="box">
                            <div class="icon-box"><i class="flaticon-vision"></i></div>
                            <p>Banking & Finance</p>
                            <h4><a href="project-details.html">Invoice data capture</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-block-two">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/gallery-2.jpg" alt="">
                        <div class="client-box">
                            <span>Neuro Jump</span>
                            <div class="client-logo"><img src="images/icons/icon-2.png" alt=""></div>
                        </div>
                        <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                        <div class="overlay-layer"></div>
                    </figure>
                    <div class="lower-content">
                        <div class="box">
                            <div class="icon-box"><i class="flaticon-vision"></i></div>
                            <p>Entertainment</p>
                            <h4><a href="project-details.html">Automate feedback analysis</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-block-two">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/gallery-3.jpg" alt="">
                        <div class="client-box">
                            <span>Neuro Jump</span>
                            <div class="client-logo"><img src="images/icons/icon-3.png" alt=""></div>
                        </div>
                        <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                        <div class="overlay-layer"></div>
                    </figure>
                    <div class="lower-content">
                        <div class="box">
                            <div class="icon-box"><i class="flaticon-vision"></i></div>
                            <p>Healthcare</p>
                            <h4><a href="project-details.html">Big data processing</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-block-two">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/gallery-1.jpg" alt="">
                        <div class="client-box">
                            <span>Neuro Jump</span>
                            <div class="client-logo"><img src="images/icons/icon-1.png" alt=""></div>
                        </div>
                        <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                        <div class="overlay-layer"></div>
                    </figure>
                    <div class="lower-content">
                        <div class="box">
                            <div class="icon-box"><i class="flaticon-vision"></i></div>
                            <p>Banking & Finance</p>
                            <h4><a href="project-details.html">Invoice data capture</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-block-two">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/gallery-2.jpg" alt="">
                        <div class="client-box">
                            <span>Neuro Jump</span>
                            <div class="client-logo"><img src="images/icons/icon-2.png" alt=""></div>
                        </div>
                        <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                        <div class="overlay-layer"></div>
                    </figure>
                    <div class="lower-content">
                        <div class="box">
                            <div class="icon-box"><i class="flaticon-vision"></i></div>
                            <p>Entertainment</p>
                            <h4><a href="project-details.html">Automate feedback analysis</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-block-two">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/gallery-3.jpg" alt="">
                        <div class="client-box">
                            <span>Neuro Jump</span>
                            <div class="client-logo"><img src="images/icons/icon-3.png" alt=""></div>
                        </div>
                        <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                        <div class="overlay-layer"></div>
                    </figure>
                    <div class="lower-content">
                        <div class="box">
                            <div class="icon-box"><i class="flaticon-vision"></i></div>
                            <p>Healthcare</p>
                            <h4><a href="project-details.html">Big data processing</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-block-two">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/gallery-1.jpg" alt="">
                        <div class="client-box">
                            <span>Neuro Jump</span>
                            <div class="client-logo"><img src="images/icons/icon-1.png" alt=""></div>
                        </div>
                        <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                        <div class="overlay-layer"></div>
                    </figure>
                    <div class="lower-content">
                        <div class="box">
                            <div class="icon-box"><i class="flaticon-vision"></i></div>
                            <p>Banking & Finance</p>
                            <h4><a href="project-details.html">Invoice data capture</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-block-two">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/gallery-2.jpg" alt="">
                        <div class="client-box">
                            <span>Neuro Jump</span>
                            <div class="client-logo"><img src="images/icons/icon-2.png" alt=""></div>
                        </div>
                        <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                        <div class="overlay-layer"></div>
                    </figure>
                    <div class="lower-content">
                        <div class="box">
                            <div class="icon-box"><i class="flaticon-vision"></i></div>
                            <p>Entertainment</p>
                            <h4><a href="project-details.html">Automate feedback analysis</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-block-two">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/gallery-3.jpg" alt="">
                        <div class="client-box">
                            <span>Neuro Jump</span>
                            <div class="client-logo"><img src="images/icons/icon-3.png" alt=""></div>
                        </div>
                        <div class="link"><a href="project-details.html"><i class="flaticon-hyperlink"></i></a></div>
                        <div class="overlay-layer"></div>
                    </figure>
                    <div class="lower-content">
                        <div class="box">
                            <div class="icon-box"><i class="flaticon-vision"></i></div>
                            <p>Healthcare</p>
                            <h4><a href="project-details.html">Big data processing</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- case-style-two end -->
<!-- process-style-two -->
@Html.Partial("Process")
<!-- process-style-two end -->
<!-- chooseus-section -->
<section class="chooseus-section">
    <div class="auto-container">
        <div class="sec-title text-center style-two">
            <p>Why Choose Us</p>
            <h2>Reason for people choose us</h2>
            <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_04">
                    <div class="content-box">
                        <div class="single-item">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(images/icons/icon-bg-4.png);"></div>
                                <i class="flaticon-global"></i>
                            </div>
                            <div class="box">
                                <h4>Global Experience</h4>
                                <p>Nor again is there anyone who loves or pursues pain of itself, because circumstances.</p>
                                <a href="index-2.html"><i class="fas fa-arrow-right"></i>More Details</a>
                            </div>
                        </div>
                        <div class="single-item text-right">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(images/icons/icon-bg-4.png);"></div>
                                <i class="flaticon-analysis"></i>
                            </div>
                            <div class="box">
                                <h4>Value for Results</h4>
                                <p>Except obtain some advantages from ithas any to find fault with a consequences.</p>
                                <a href="index-2.html">More Details<i class="fas fa-arrow-left"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 video-column">
                <div id="video_block_01">
                    <div class="video-inner wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms" style="background-image: url(images/background/video-2.jpg);">
                        <div class="pattern-layer" style="background-image: url(images/shape/shape-14.png);"></div>
                        <div class="video-btn">
                            <div class="btn-bg rotate-me" style="background-image: url(images/icons/icon-bg-5.png);"></div>
                            <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption=""><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- chooseus-section end -->
<!-- testimonial-style-two -->
<section class="testimonial-style-two">
    <div class="title-inner bg-color-3">
        <div class="pattern-layer" style="background-image: url(images/shape/shape-15.png);"></div>
        <div class="auto-container">
            <div class="sec-title text-left light">
                <p>Testimonials</p>
                <h2>Words from our clients</h2>
                <div class="decor" style="background-image: url(images/icons/decor-4.png);"></div>
            </div>
        </div>
    </div>
    <div class="lower-content">
        <div class="auto-container">
            <div class="inner-content">
                <div class="testimonial-carousel-2 owl-carousel owl-theme owl-dots-none nav-style-one">
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <figure class="image-box"><img src="images/resource/testimonial-1.jpg" alt=""></figure>
                            <div class="content-box">
                                <div class="icon-box" style="background-image: url(images/icons/icon-4.png);"></div>
                                <div class="text">
                                    <p>As a growing company, we found in Naxly expertise in data science invaluble In almost two years of cooperation, they’ve helped us.</p>
                                </div>
                                <div class="author-info">
                                    <h4>Dedrew Kowzel</h4>
                                    <span class="designation">CEO & Founder - Soft Solution</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <figure class="image-box"><img src="images/resource/testimonial-2.jpg" alt=""></figure>
                            <div class="content-box">
                                <div class="icon-box" style="background-image: url(images/icons/icon-4.png);"></div>
                                <div class="text">
                                    <p>As a growing company, we found in Naxly expertise in data science invaluble In almost two years of cooperation, they’ve helped us.</p>
                                </div>
                                <div class="author-info">
                                    <h4>Donal Archar</h4>
                                    <span class="designation">CEO & Founder - Soft Solution</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <figure class="image-box"><img src="images/resource/testimonial-3.jpg" alt=""></figure>
                            <div class="content-box">
                                <div class="icon-box" style="background-image: url(images/icons/icon-4.png);"></div>
                                <div class="text">
                                    <p>As a growing company, we found in Naxly expertise in data science invaluble In almost two years of cooperation, they’ve helped us.</p>
                                </div>
                                <div class="author-info">
                                    <h4>Jams Shan</h4>
                                    <span class="designation">CEO & Founder - Soft Solution</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial-style-two end -->
<!-- clients-style-two -->
<section class="clients-style-two bg-color-1">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url(images/shape/shape-16.png);"></div>
        <div class="pattern-2 wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms" style="background-image: url(images/shape/shape-17.png);"></div>
    </div>
    <div class="auto-container">
        <div class="sec-title text-center style-two mb-70">
            <p>Clients</p>
            <h2>Latest thinking in AI and our</h2>
            <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
        </div>
        <div class="logo-inner">
            <ul class="logo-box logo-box-one clearfix">
                <li><figure class="image-box"><a href="index.html"><img src="images/clients/clients-logo-6.png" alt=""></a></figure></li>
                <li><figure class="image-box"><a href="index.html"><img src="images/clients/clients-logo-7.png" alt=""></a></figure></li>
                <li><figure class="image-box"><a href="index.html"><img src="images/clients/clients-logo-8.png" alt=""></a></figure></li>
                <li><figure class="image-box"><a href="index.html"><img src="images/clients/clients-logo-9.png" alt=""></a></figure></li>
            </ul>
            <ul class="logo-box logo-box-two clearfix">
                <li><figure class="image-box"><a href="index.html"><img src="images/clients/clients-logo-10.png" alt=""></a></figure></li>
                <li><figure class="image-box"><a href="index.html"><img src="images/clients/clients-logo-11.png" alt=""></a></figure></li>
                <li><figure class="image-box"><a href="index.html"><img src="images/clients/clients-logo-12.png" alt=""></a></figure></li>
            </ul>
        </div>
    </div>
</section>
<!-- clients-style-two end -->
<!-- info-section -->
<section class="info-section">
    <div class="auto-container">
        <div class="inner-container">
            @Html.Partial("InfoInner")
        </div>
    </div>
</section>
<!-- info-section end -->